ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
      
}
.flex {
   width: 250px;
   height: 250px; 
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}
.inline {
    font-style: oblique;
    font-family: monospace;
    text-decoration: underline;
    font-size: 20px;
}
ol {
    border: 4px solid black;
    padding: 20px;
}
h2, footer {
    background-color: grey;
}
.form {
display: flex;
flex-wrap: wrap;
margin-top: 200px;
margin-bottom: 200px;
}
.input {
    display: flex;
    flex-wrap: column;
    width: 300px;
}

.column {
    flex-direction: column;
    display: flex;
    padding: 50px;
}

