ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
      
}
.flex {
   width: 250px;
   height: 250px; 
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}
